{% extends 'student/base1.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/faith.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
ABOUT US
{% endblock subtitle %}



{% block para %}
Founded in 1996, St. Aloysius International University aims at training its residents for personal and professional success in today's society. Our competent teaching staffs strive to bring out the best in our students, which has been responsible for the fantastic results we produce year after year. Our expert representatives scout the world with information about our courses and infrastructure to help international students make well-informed decisions about their higher education. We offer courses in the SSA scheme, which allows our students to complete a part of their degree in the St. Aloysius campus.
<br><br>

Home to over 3000 students from over 100 countries, St. Aloysius International University offers over 200 course modules to choose from and the students can choose up to four course modules related to their undergrad course. Our courses are categorized into four broad categories, namely:
<br><br>

Business & Law: Covers subjects such as Marketing, Accounting, Tourism and Hospitality, Human Resource Management and Law.
<br><br>
Arts Media & Social Sciences: Covers subjects such as Animation, Fashion, Interior Design, Photography, Visual Arts, English, Journalism, Music, Performance, Media, Politics and Contemporary History.
<br><br>
Science and Technology: Covers subjects such as Construction, Biology, Microbiology, Parasitological studies, Environmental Sustainability, Geography and Geology.
<br><br>
Health & Social Care: Covers subjects such as Psychology, Social Work, Social Policy and Counselling.

{% endblock para %}



{% block content %}


{% endblock content %}