{% extends 'student/base1.html' %}
{% load static %}
{% block title %} Academic {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">



{% endblock css %}

{% block image %}
<img src="{% static "student/image/acadamic.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
ACADEMICS
{% endblock subtitle %}



{% block para %}

<P>St Aloysius International University provides a wide range of courses to choose from- over 200 to be precise. With students from over 100 countries, we provide a truly global learning experience. Our faculty rank among the best in the city, and they employ teaching standards that comply with international standards to benefit our students from different academic backgrounds. At SAIU, we commit to imparting education that results in prime academic development, institutional excellence and instil a sense of moral development and professional integrity among our students, which helps them achieve great heights in their professional and personal lives. 



</P>


{% endblock para %}



{% block content %}
 


{% endblock content %}