{% extends 'student/base.html' %}
{% load static %}
{% block title %} Admit Card {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/style.css' %}">
<style>
  @page {
    size: A4 portrait;
    margin: 0px;

  }

  @media print {
    body {
      -webkit-print-color-adjust: exact;
      -moz-print-color-adjust: exact;
      -ms-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
</style>
{% endblock css %}

{% block content %}




<div class="container-fluid">
  <marquee behavior="" direction="" class="text-danger"><b>*St. Aloysius International University website "UNDER
      MAINTENANCE" please check your results below. Thank You!</b></marquee>

  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <h3 class="text-black text-center" id='alumni'>ALUMNI</h3>
      <p>
        St Aloysius International University boasts of a successful alumnus, where our students have reached great
        heights in both professional and personal lives. They have procured gastul employment in some of the most
        lucrative companies all over the world. Our unique learning experience and helps maximize your employment
        prospects, and seperate you from the rest of the crowd SAR provides fertile grounds to determine and explore
        co-cumcular activities, which are just as valuable as a good educating training in securing lucrative employment
        prospects
      </p>
    </div>

    <div class="col-md-5 mb-5 col-10">
      <h5>Enrollment No.</h5>
      <div class="">
        <form action="" method="post">
          {% csrf_token %}
          <input name="enrollment_no" type="text" class="form-control" placeholder="Search Enrollment No" required>
          <div class="d-grid my-2">
            <button type="submit" class="btn btn-primary my-1 ">Submit</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  {% if admitcard %}
  <div class="row">
    <div class="d-flex justify-content-center flex-column mb-4">
      <h3 class="text-center">Alumni Details</h3>
      <!-- <p class="text-end ">Please verify Marks Sheet / Certificate </p> -->
      <a class="btn-primary btn m-auto" style="width:fit-content;" onclick="printCard()">DOWNLOAD IDCARD</a>
    </div>


    <div class="mess text-center my-1 mt-2 d-block d-lg-none">
      <span class="text-danger ">*For download Admit Card use Desktop Computer to get proper format*</span>
    </div>
  </div>
  <div id="card" class="body overflow-auto">
    <div class="m-auto admit-body">
      <div class="admit-card m-auto">
        <div class="hall-ticket">
          <h5>Hall - Ticket</h5>
        </div>
        <div class="admit-avtar">
          <img src="{{admitcard.image.url}}" alt="" class="border border-dark border-2 rounded">
        </div>
        <div class="student-signature">
          <img src="{{admitcard.student_signature.url}}" alt="">
        </div>
        <div class="student-info ">
          <div>
            <h6>Enrollment No.: {{admitcard.enrollment_no}}</h6>
            <h6>Name: {{admitcard.name}}</h6>
          </div>
          <div>
            <h6>Father Name's : {{admitcard.father_name}}</h6>
            <h6>Exam Center : {{admitcard.exam_centre}}</h6>
          </div>
          <div class="d-flex ">
            <div class="w-50">
              <h6>DOB : {{admitcard.dob}}</h6>
              <h6>Semester : {{admitcard.semester}}</h6>
            </div>
            <div class="w-50">
              <h6>Gender : {{admitcard.gender}}</h6>
              <h6>Session : {{admitcard.session}}</h6>
            </div>
          </div>
        </div>
        <div class="exam-table">
          <table class="">
            <tr>
              <th>Subject</th>
              <th>Date</th>
              <th>Time</th>
            
            </tr>
            {% for item in examdetail %}   
            
            <tr>
              <td>{{item.subject_name}}</td>
              <td>{{item.date | date}}</td>
              <td>{{item.time}}</td>    
            </tr>
            {% endfor %}
            
          </table>
        </div>
      </div>

     <h4 class="text-center my-2 mb-3">Instructions to the Candidate</h4>
      <div class="note m-auto">
        {{admitcard.instruction | safe}}
      </div> 
    </div>
  </div>


  <footer class="pt-4 mt-5 ">

    <p class="text-center text-muted"> If you have any query please mail us to <a
        href="mailto:administrator@saiu-edu.in">administrator@saiu-edu.in</a></p>
  </footer>

  {% endif %}
</div>
<script>
  function printCard() {
      var backup = document.body.innerHTML
      var AdmitcardHtml = document.getElementById('card').innerHTML

      document.body.innerHTML = AdmitcardHtml
      window.print()
      document.body.innerHTML = backup
      
  }
</script>
{% endblock content %}

