{% extends 'student/base1.html' %}
{% load static %}
{% block title %} Alumni {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/alumni.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
ALUMNI
{% endblock subtitle %}



{% block para %}

<P>St. Aloysius International University boasts of a successful alumnus, where our students have reached great heights in both professional and personal lives. They have procured gainful employment in some of the most lucrative companies all over the world. Our unique leaning experience and helps maximize your employment prospects, and separates you from the rest of the crowd. SAIU provides fertile grounds to determine and explore co-curricular activities, which are just as valuable as a good educational training in securing lucrative employment prospects.

</P>


{% endblock para %}



{% block content %}
 


{% endblock content %}