{% extends 'student/base1.html' %}
{% load static %}
{% block title %} Certified Courses {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/certified_courses.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
CERTIFIED COURSES
{% endblock subtitle %}



{% block para %}


{% for course in course_desc %}
  
    

<div class="container-xl-fluid">
<div class="row-12">
<div class="col-12 my-2">
    <div class="dropdown d-grid gap-2">
        <button type="button" class="dropbtn btn btn-primary ">{{course.title}}</button>
        <div class="dropdown-content col-12 ">
            <div class="container">
                <div class="row row-2 my-4 border border-secondary ">
                  <div class="col-12 border border-secondary"><b>{{course.title}}</b></div>
                  <div class="col-6 border border-secondary">Name</div>
                  <div class="col-6 border border-secondary">{{course.name}}</div>
                  <div class="col-6 border border-secondary">Code</div>
                  <div class="col-6 border border-secondary">{{course.code}}</div>
                  <div class="col-6 border border-secondary">Pre-requisite </div>
                  <div class="col-6 border border-secondary">{{course.pre_requisite}}</div>
                  <div class="col-6 border border-secondary">Duration</div>
                  <div class="col-6 border border-secondary">{{course.duration}}</div>
                  <div class="col-6 border border-secondary">Fee</div>
                  <div class="col-6 border border-secondary">{{course.fee}}</div>
                  <div class="col-6 border border-secondary">Brief Description</div>
                  <div class="col-6 border border-secondary">{{course.breif_desc}}</div>
                </div>
            </div>

            <div class="container">
            <div class="row">
              <div class="col">
              <a class="btn btn-dark text-primary " href="/apply" role="button">Link</a>
            </div>
          </div>
          </div>


        </div>
    </div>
</div>
</div>
</div>



{% endfor %}



{% endblock para %}



{% block content %}
 


{% endblock content %}