{% extends 'student/base1.html' %}
{% load static %}
{% block title %} Courses {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/courses.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
COURSES
{% endblock subtitle %}



{% block para %}
<p><a href="/health_science_courses">Health Sciene Courses</a></p>
<p><a href="/engineering_courses">Engineering Courses</a></p>
<p><a href="/management_courses">Management Courses</a></p>
<p><a href="/certified_courses">Certified Courses</a></p>

{% endblock para %}



{% block content %}
 


{% endblock content %}