{% extends 'student/base1.html' %}
{% load static %}
{% block title %} Faith {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/faith.jpg" %}" class="img-fluid overflow-hidden" alt="...">
{% endblock image %}

{% block subtitle %}
FAITH AND SERVICES
{% endblock subtitle %}



{% block para %}
As a predominantly catholic institution, we believe that our all our actions have implicit consequences that we are completely responsible for. We believe that education must be used to for the betterment of the society and that the educated must use their god given gifts to propagate peace and harmony throughout the world. All our educators and scholars within our institution are committed to alleviation of poverty, promoting justice and protection of human rights. We respect all religious beliefs and encourage our students to derive strength and inspiration from their varied beliefs.

{% endblock para %}



{% block content %}


    <!-- <div class="row my-2" >

        <div class="col-8">
            <div class="card-border">
                <div class="card-body">
                    <img src="{% static "student/image/faith.jpg" %}" class="img-fluid" alt="...">
                </div>                                    
            </div>
        </div>




        <div class="col-4 my-3">
            <div class="card mx-5" >
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">MAIN COURSES</li>
                  <li class="list-group-item">ALUMINI</li>
                  <li class="list-group-item">ACADEMICS</li>
                  <li class="list-group-item">RESEARCH</li>
                  <li class="list-group-item">LIBRARY</li>
                  <li class="list-group-item">GLOBAL</li>
                  <li class="list-group-item">STUDENT LIFE</li>
                  <li class="list-group-item">REQUEST INFO</li>
                </ul>
                
            </div>
        </div>


         <div class="col-8">
            <div class="card-border">
                <div class="card-body">
                    <h3 class="fs-4 text-primary">FAITH AND SERVICES</h3>
                    <p >As a predominantly catholic institution, we believe that our all our actions have implicit consequences that we are completely responsible for. We believe that education must be used to for the betterment of the society and that the educated must use their god given gifts to propagate peace and harmony throughout the world. All our educators and scholars within our institution are committed to alleviation of poverty, promoting justice and protection of human rights. We respect all religious beliefs and encourage our students to derive strength and inspiration from their varied beliefs.

                    </p>
                </div>                                    
            </div>
        </div> 

    </div> 
    ROW ENDED -->


 


{% endblock content %}