{% extends 'student/base1.html' %}
{% load static %}
{% block title %} Global Opitons {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/global.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
GLOBAL
{% endblock subtitle %}



{% block para %}

<P>The university is spread out over 30 campus and halls, where the students from all over the world live and learn. The cosmopolitan atmosphere offers a new learning experience and the cultural diversity of the student body helps develop a new perspective about life and learning.
</P> 
<P>
St. Aloysius International University is a hub for global scholarship, where our tutors embrace comfortable teaching methods that help create a reliable learning environment for the students. We strive to set up an international atmosphere in the campus by embracing diverse cultural and ethnic practices.
</P>
<P>
    The purpose of SAIU goes beyond imparting international grade education. We hope to service sour students with a wholesome global experience by introducing them to diverse cultural and ethnic environment during their stay. The student body is encouraged to actively participate in extracurricular activities in order to create a sense of belonging among the SAIU family.
</P>



{% endblock para %}



{% block content %}
 


{% endblock content %}