{% extends 'student/base1.html' %}
{% load static %}
{% block title %} Library {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/library.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
LIBRARY
{% endblock subtitle %}



{% block para %}

<P>ST. Aloysius International University has fully functional libraries, which are well stocked with the latest editions and quality research texts. Each of our campus is served by a digital library, which provides access to research papers and a collection of digital books. Experienced librarians, who efficiently catalogue and classify the materials in the library, manage these libraries.
</P> 
<p>
    All students can access the libraries during all hours of operation without any restriction what so ever, as long as the students adhere to the policies governing the libraries. The libraries are equipped with excellent copying, scanning and printing facilities to felicitate the need of the students.


</p>


{% endblock para %}



{% block content %}
 


{% endblock content %}