{% extends 'student/base1.html' %}
{% load static %}
{% block title %} Md Messages {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/md_message.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
MD’S MESSAGE
{% endblock subtitle %}



{% block para %}
I would like to take this opportunity to thank all my students, faculty, staff, alumni and board members for playing an active part in the growth of this institution. As a head of an educational institution, I pleased to have blessed with such an understanding team, who have played an instrumental role in the successful tenure of our university.

<br><br>

St. Aloysius International University was set up in the year 1996 in order to impart international grade education, and play an active part in societal reforms. We have been lucky enough to be able to do just that, and are proud of the number of students who have successfully passed out of our institution.

<br><br>

SAIU functions based on predominantly catholic values, but we ultimately respect and encourage the diverse cultural and ethnic practices of our students from all over the world. As a truly international university, we house students from over 100 countries and impart quality education to all. Our state of the art laboratories are designed to felicitate research, and have seen a steady growth in students and faculty showing interest in the same. I am proud of the fact that we have featured in several important scientific journals of national and international importance.

<br><br>
We hope to continue to grow as an institute and impart quality education in the future as well.

<br><br>

Thanking you,<br><br>

<strong>MD</strong> 
{% endblock para %}



{% block content %}
 


{% endblock content %}