{% extends 'student/base1.html' %}
{% load static %}
{% block title %}Research {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/research.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
RESEARCH
{% endblock subtitle %}



{% block para %}

<P>St. Aloysius International University offers dedicated scholarly research that inspires and enriches lives globally and locally. We foster out of classroom education and encourage our students and faculty in discovering efficient solutions to real world problems. Our research has attracted a fair amount of attention from public and private sectors, and we have also received funding from several private solicitors and prestigious companies. Our research ash been published in various journals of national and international credibility. Our research work is driven by purely altruistic purposes and our students can choose to work in state of the art, on-campus laboratories along with the faculty, or they can choose to work with several off campus establishments, as approved by the university.
</P> 



{% endblock para %}



{% block content %}
 


{% endblock content %}