{% extends 'student/base1.html' %}
{% load static %}
{% block title %} Student Life {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/css/common.css' %}">
{% endblock css %}

{% block image %}
<img src="{% static "student/image/alumni.jpg" %}" class="img-fluid" alt="...">
{% endblock image %}

{% block subtitle %}
STUDENT LIFE
{% endblock subtitle %}



{% block para %}

<P>St. Aloysius International University is always teeming with bustling student activities. With students from over 100 countries residing here, we have an elegant atmosphere of cultural and ethnic diversity. The cosmopolitan student body embraces and celebrates the varied cultural differences. The 30 different colleges and halls that make up the university have their own unique clubs and societies, where active participation from the students is encouraged.
</P> 
<P>
Life at SAIU is not centred around academic excellence alone; we encourage our students to pursue their extracurricular interests with zeal and vigour. Our large student body makes it easy for you to connect with people with the same interest as yours. We encourage our students to develop a sense of leadership, brotherhood and nurture a sense of belonging through organized events and fests.
</P>




{% endblock para %}



{% block content %}
 


{% endblock content %}