*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height:1000px;
}
.top-container{
    font-family:'Segoe UI', Tahoma, Geneva,;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    background-color: rgb(247,88,34);
    margin: 40px 190px;
    padding: 30px 90px;
    color: white;
    border-bottom: 20px solid black;
    letter-spacing: 2px;
}
.mid-container{
        font-family:'Segoe UI', Tahoma, Geneva,;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        padding: 10px 90px;
        /* margin: 40px 190px; */
        letter-spacing: 1px;
}
.bot-border{
    border-bottom: 20px solid black;
    margin: 40px 100px;
}
.image{
    border: 2px solid black;
    height: 120px;
    width: 120px;
    align-items: center;
    text-align: center;
    margin: 40px 620px 0;
    /* padding: 30px 90px; */
   
}
.info{
    padding: 30px 100px 40px;
    text-align: left;
    
    
}
.bot-container{
    text-align: center;
    background-color: rgb(247,88,34);
    margin: 0px 190px;
    border-top: 20px solid black;
    /* padding: 30px 90px; */
    
}